# Залежності (найважливіше)
node_modules/

# Результати збірки (якщо ти вже скопіював їх у корінь, то тут обережно)
dist/

# Локальні змінні та секрети
.env
.env.local

# Логи помилок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папки редакторів
.vscode/
.idea/
.DS_Store